.dropdown:hover .dropbtn {
    border-radius: 10px;
    background-color: rgb(233, 229, 229);
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    height: 10vh;
    box-shadow: 0px 3px 10px rgba(15, 15, 15, 0.767);
    background-color: rgb(63, 61, 61);
    color: aliceblue;
}
    nav {
       
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
        .header-title {
            width: 40%;
        }
        .header-title   a {
                font-size: 1.5rem;
                text-decoration: none;
                color: white;
               
            }
        

        .navbar-items {
           
            font-size: 1.5rem;
            width: 60%;
            display: flex;
            justify-content: flex-end;
        }
            .dropdown {
                padding-right: 10%;
            }
                .dropbtn {
                    cursor: pointer;
                    font-size: 1.5rem;
                    color: black;
                    height: auto;
                    background-color: #ddd;
                    border-radius: 10px;
                    padding: 12px 16px;
           
                }
.dropdown-content {
    border-radius: 10px;
    padding-top: 10px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
